#menuInscription {
    color: rgb(51, 195, 231);
    background: linear-gradient(to top,
            rgba(51, 195, 231, 1) 0%,
            rgba(51, 195, 231, 0.5) 5%,
            rgba(51, 195, 231, 0) 65%,
            rgba(51, 195, 231, 0)100%)
}